:root {
  --red: #ff0033;
  --blue: #0c233f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid var(--red); */
}
body {
  font-family: Roboto, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  min-height: calc(100vh - 4px);
}
.wheel-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.wheel-header {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.wheel-container {
  position: relative;
  width: 100%;
}
.wheel-marker {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid white;
  transform: translate(-50%, -50%) rotate(0deg);
}
.header-btn {
  background: var(--red);
  color: white;
  padding: 1.25em 1.5em;
}
.clap {
  font-size: 5em;
  padding: 0;
}
.active {
  background: var(--blue);
}
