:root {
  --primary: #0d2240;
  --secondary: #7c98ab;
  --tertiary: #e94f3e;
  --quaternary: #efe041;
  --pale: #e6ecf0;
  --sans-serif: 'Roboto Condensed', sans-serif;
  --display: 'Wendy One', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.btn {
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
body {
  font-family: var(--sans-serif);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-height: calc(100vh - 4px);
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.wheel-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.wheel-container {
  position: relative;
  width: 100%;
}
.wheel-marker {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid var(--primary);
  border-bottom: none;
  transform: translate(-50%, -100px) rotate(0deg);
}
.wheel-container > canvas {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.wheel-header {
  width: 100%;
  display: flex;
  z-index: 1;
}
.wheel-cluster {
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(0%, 100%) rotate(45deg);
}
.aside-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.modal-container {
  transition: opacity 200ms ease-in-out;
  transition: transform 200ms ease-out;
  opacity: 1;
  transform: translateY(0px);
  position: relative;
}
.modal-container.is-hidden {
  opacity: 0;
  transform: translateY(10px);
}
.modal-full-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}
.modal-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 50%;
}
.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cluster-btn {
  border: 1px solid var(--quaternary);
  background-color: var(--quaternary);
  border-radius: 50%;
  font-size: 3em;
  line-height: 0;
  padding: 0;
  overflow: hidden;
  width: 60px;
  height: 60px;
  transition: 200ms ease-out;
  transform: rotate(-45deg);
  box-shadow: 5px -5px 0px var(--primary);
}
.cluster-btn:hover {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  box-shadow: 0px 0px 0px var(--primary);
}
.header-btn {
  background-color: white;
  font-family: var(--display);
  font-size: 1.5em;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 0.75em 1.75em;
  transition: 200ms ease-in-out;
}
.header-btn:hover {
  color: white;
  background-color: var(--primary);
}
.active {
  background: var(--primary);
  border-color: var(--primary);
}
.input-group {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2em;
  position: relative;
}
.triplet {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.triplet-output {
  position: absolute;
  font-size: 20em;
  font-family: var(--display);
  color: var(--quaternary);
  text-shadow: 5px -5px 0px var(--primary);
  width: 100%;
  bottom: 0%;
  text-align: center;
  z-index: 11;
}
.triplet-output::after {
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(100%, -50%);
  content: "year(s)!";
  font-family: Times, serif;
  font-size: 2rem;
  font-style: oblique;
  font-weight: 700;
  color: var(--primary);
  text-shadow: none;
}
.triplet-btn {
  z-index: 12;
  background-color: white;
  transform: translate(0%, 0%);
}
.aside-btn {
  border: 1px solid var(--primary);
  padding: 0.5em 1.5em;
  font-size: 1.25em;
  transition: 200ms ease-out;
}
.triplet-btn:hover {
  transform: translate(0%, -5%);
}
.clap {
  background-color: var(--primary);
  overflow: hidden;
  font-size: 6em;
  line-height: 0;
  padding: 0;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border-width: 3px;
  position: relative;
  transform: translate(-5%, 0%);
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 0px var(--tertiary);
  z-index: 13;
}
.clap:hover {
  box-shadow: -5px 2.5px 0px var(--tertiary);
}
.clap.is-active {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  opacity: 0.8;
}
